<li>
    {{name}}

    <button class="change-burger" data-id="{{id}}" data-newsleep="{{sleep}}">
        {{#if devoured}}All Gone!{{else}}Eat ME!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>