<li>
    {{burger_name}}
    <div>
        <button class="button is-success changeBurger" data-id="{{id}}" data-newDevour="{{devoured}}">
            {{#if devoured}}INHALED!{{else}}Eat ME!{{/if}}
        </button>

        <button class="button is-danger deleteBurger" data-id="{{this.id}}">DELETE!</button>
    </div>
</li>